* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

i {
  pointer-events: none;
}

body {
  background: linear-gradient(90deg, rgb(160, 219, 160), rgb(219, 231, 165));
}

header {
  color: black;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  p {
    font-size: 1.25rem;
    font-weight: bolder;
  }

  input,
  select,
  button {
    border: none;
    padding: 0.25rem 0.5rem;
    font-size: 1.25rem;
    margin: 0.5rem;
  }

  select {
    option {
      text-align: center;
    }
  }

  button {
    cursor: pointer;
    background-color: rgb(221, 129, 43);
    color: white;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  div.done {
    opacity: 0.3;
    text-decoration: line-through;
    text-decoration-thickness: 0.2rem;
  }

  div.todo {
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem 0rem;
    transition: all 0.3s ease;

    p {
      background-color: white;
      color: black;
      padding: 0.25rem 0.5rem;
      font-size: 1.75rem;
    }

    p.todo-text {
      width: 100%;
    }

    p.todo-date {
      width: 60%;
      text-align: center;
    }

    button {
      padding: 0.25rem 0.5rem;
      font-size: 1.75rem;
      border: none;
      cursor: pointer;
      color: white;
    }

    button.checkBotton {
      background-color: green;
    }

    button.trashBotton {
      background-color: red;
    }
  }
}

@media screen and (max-width: 1100px) {
  section {
    div.todo {
      width: 70vw;
      p.todo-date {
        width: 70%;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  section {
    div.todo {
      width: 90vw;
      p.todo-date {
        width: 70%;
      }
    }
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scaleDown {
  to {
    transform: scale(0);
  }
}
